@font-face {
  font-family: "iconfont"; /* Project id 3141727 */
  src: url('iconfont.woff2?t=1668155140664') format('woff2'),
       url('iconfont.woff?t=1668155140664') format('woff'),
       url('iconfont.ttf?t=1668155140664') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zp-logout:before {
  content: "\e78c";
}

.zp-weibo:before {
  content: "\e635";
}

.zp-youxiang:before {
  content: "\e908";
}

.zp-github:before {
  content: "\e673";
}

.zp-eye:before {
  content: "\e78f";
}

.zp-edit:before {
  content: "\e7e1";
}

.zp-fork:before {
  content: "\e626";
}

.zp-qq1:before {
  content: "\e631";
}

.zp-dianhua:before {
  content: "\e6d0";
}

.zp-email:before {
  content: "\e61b";
}

.zp-weixin1:before {
  content: "\e633";
}

.zp-erweima:before {
  content: "\e661";
}

.zp-xiangyoujiantou:before {
  content: "\e65f";
}

.zp-xiangzuojiantou:before {
  content: "\e660";
}

.zp-lianjie:before {
  content: "\e600";
}

.zp-shouye:before {
  content: "\e64f";
}

.zp-gongzuojingli:before {
  content: "\e607";
}

.zp-zuopin:before {
  content: "\e60c";
}

.zp-xinxijishu:before {
  content: "\e651";
}

